<div class="container m-2">
    <h1><%= @cocktail.name %></h1>
      <ul>
        <% @doses.each do |dose| %>
         <li><%= dose.ingredient.name%></li>
         <br>
         <li><%= dose.description%></li>
        <% end %>
      </ul>
    <br>

    <p><%= link_to 'Add dose to cocktail', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></p>
    <br>
    <p><%= link_to 'Back', cocktails_path, class: 'btn btn-ghost:hover' %></p>
</div>
